
/*   头部样式开始  */
/*头部浅灰色欢迎文字栏*/
a:hover {color:#FF00FF;}
header
{
    width: 100%;
}
.headTop
{
    height:30px;
    border-bottom:1px solid #e5e5e5;
    background-color: #e8e6e6;
    width: 100%;

}
.headTop .welcome
{
    position:relative;
    left:5%;
    display: inline-block;
    color: #8E8E8E;
    font-size: 1rem;
    top:4px;
}
.headTop ul{
    display: inline;
    list-style: none;
    position:relative;
    left:70%;
    top:5px;
}
.headTop ul li{
    display:inline;
}
.headTop a{
    text-decoration: none;
    color: #8E8E8E;
}
.headTop ul li span
{
    color:#8E8E8E ;
}
.headTop ul li a:hover{
    color: red;
}



/* 头部下面logo以及搜索框一栏 */

.headBottom
{
    display: block;
    align-items: center;
    height: 190px;
    background-color:#fcfcfc;
    border-bottom:1px solid #e5e5e5;
}
.headBottom img
{
    position: relative;
    left: 10%;
    top: 36px;
}
.headBottom input
{
    position: relative;
    left: 15%;
    width:622px;
    height: 42px;
    border: solid 2px red;
}
.headBottom button
{
    position: relative;
    left: 14%;
    height: 48px;
    border: 2px solid red;
    background-color:red;
}
.headBottom ul
{
    display: inline;
    position: absolute;
    left: 27%;
    top:153px;
    
}
.headBottom ul li
{
    list-style: none;
    float: left;
    text-decoration: none;
    font-size: 1.2rem;
    width: 54px;
}
.headBottom ul li:nth-child(6)
{
    width: 89px;
}
.headBottom ul li:nth-child(8)
{
    width:69px;
}
.headBottom ul li:nth-child(9)
{
    width: 80px;
}
/*中间部分样式开始*/
.container
{
    height:500px;
    background-color: #ff2d29;
}
.container .containerLeft
{
    float: left;
    background-color:black;
    margin-left:10%;
    width: 15%;
    height: 100%;
}
.container .containerLeft ul li{
    list-style: none;
    height: 45px;
    color: white;
}
.container .containerLeft ul li a{
    text-decoration: none;
    color: white;
}
.containerLeft ul li a:hover
{
    color: red;
}
.container .containerright
{
    float: right;

    width: 75%;
    height: 500px;
}
.container .containerright img
{
    width: 100%;
    height: auto;
}

/*******热卖专区样式*/
.display .hotSell
{
    float: left;
    margin-left: 10%;
    background-color: #ff3943;
    width:15%;
    color: white;
    height: 150px;
    text-align: center;
    font-size:2.2rem;
}
.display .hotSell span
{
    display: inline-block;
    margin-top: 40px;
}
.photo
{
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
}
.photo div img
{
    height: 250px;
    width: 96%;
    column-gap: 2px;
    border: solid 1px #f8f9ff;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.discription
{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding-top:3px;
    width:150px;
    height: 25px;
    background-color:#ff3943;
    border: solid #f8f9ff 1px;
    -webkit-border-radius:22px;
    -moz-border-radius:22px;
    border-radius:22px;
    color: white;
    text-align: center;
    margin-left: 21%;

}

.photo-1
{
    float: right;
    margin-right: 65px;
}
